header {
background-color:Wheat;
}

header p {
padding: 5px;
color: ;
}

nav {
background-color: Wheat;
padding: 5px;
}

nav a{
text-decoration: none;
margin: 30px;
border:1px solid DimGrey;
border-radius: 8px;
background-color: Wheat;
font-family: arial;
color: white;
font-size: 20px;
}

main {
background-color:;
}

main p {
font-family: arial;
background-color: ;
margin: 7px;
}

h2, h3 {
text-align: center;
font-family: ;
font-size: 30px;
}

main h4 {
text-align: center;
}

main h5 {
text-align: right;
}

footer {
background-color: Wheat;
padding: 5px;
font-family: arial;
}

footer a{
text-decoration: none;
padding:-30px;
}